@using Microsoft.AspNet.Identity
@if (User.IsInRole("Admin"))
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Admin<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink("Category Administration", "Index", "CategoryAdministration", new { Area = "Admin" }, new { @class = "dropdown-item" })</li>
        </ul>
    </li>
}