<!-- Edit Userprofile Button -->
<a href="../Admin/UserAdministration/EditProfile/@Model"><i class="fas fa-pencil-alt fa-sm"></i></a>
<!-- Set UserRole Button -->
<a href="../Admin/UserAdministration/SetRole/@Model"><i class="fas fa-user-edit fa-sm"></i></a>
<!-- Delete Reply Button -->
<a href="../Admin/UserAdministration/Delete/@Model"><i class="fas fa-trash fa-sm"></i></a>