<!-- Edit Userprofile Button -->
<a href="../Admin/UserAdministration/EditProfile/@Model"><span class="glyphicon glyphicon-pencil gi-0p8x"></span></a>
<!-- Set UserRole Button -->
<a href="../Admin/UserAdministration/SetRole/@Model"><span class="glyphicon glyphicon-flash gi-0p8x"></span></a>
<!-- Delete Reply Button -->
<a href="../Admin/UserAdministration/Delete/@Model"><span class="glyphicon glyphicon-trash gi-0p8x"></span></a>