@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">My Profile<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="#">View Profile</a></li>
            <li><a href="#">Edit Profile</a></li>
            <li><a href="#">My Topics</a></li>
            <li><a href="#">My Replies</a></li>
        </ul>
    </li>
}