<!-- Edit Reply Button -->
<a href="../Moderator/ReplyModeration/edit/@Model[0]"><i class="fas fa-pencil-alt fa-sm"></i></a>
<!-- Delete Reply Button -->
<a href="../Moderator/ReplyModeration/delete/@Model[1]/@Model[0]"><i class="fas fa-trash fa-sm"></i></a>