<!-- Edit Reply Button -->
<a href="../Moderator/ReplyModeration/edit/@Model"><span class="glyphicon glyphicon-pencil gi-0p8x"></span></a>
<!-- Delete Reply Button -->
<a href="../Moderator/ReplyModeration/delete/@Model"><span class="glyphicon glyphicon-trash gi-0p8x"></span></a>