@using Microsoft.AspNet.Identity
@model SharpForum.Models.ViewModels.Topic.TopicAuthorRepliesAuthorsViewModel
@if (Request.IsAuthenticated)
{
    <div class="my-2">
        <a href="/Topic/New/@Model.Topic.CategoryId" class="btn btn-success" role="button">New Topic</a>
        @if (!Model.Topic.IsLocked)
        {
            <a href="/Reply/New/@Model.Topic.Id" class="btn btn-success" role="button">New Reply</a>
        }
        else
        {
            <button type="button" class="btn btn-success disabled"><i class="fas fa-lock fa-sm"></i> New Reply</button>
        }
    </div>
}