@using Microsoft.AspNet.Identity
@model SharpForum.Models.ViewModels.CategoryTopicsViewModel
@if (Request.IsAuthenticated)
{
    <div class="my-2">
        <a href="/Topic/New/@Model.Category.Id" class="btn btn-success" role="button">New Topic</a>
    </div>
}