@using Microsoft.AspNet.Identity
@model SharpForum.Models.ViewModels.Topic.TopicAuthorRepliesAuthorsViewModel
<div class="list-group-item">
    <div class="row">
        @if (Request.IsAuthenticated)
        {
            if (!Model.Topic.IsLocked)
            {
                <div class="col-md-10 col-sm-12">
                    <p class="text-left">No replies on this topic. Be the first to reply.</p>
                </div>
                <div class="col-md-2">
                    <a href="/Reply/New/@Model.Topic.Id" class="btn btn-primary btn-block" role="button">New Reply</a>
                </div>
            }
            else
            {
                <div class="col-md-10 col-sm-12">
                    <p class="text-left">This topic is locked.</p>
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-primary btn-block disabled"><i class="fas fa-lock fa-sm"></i> New Reply</button>
                </div>
            }
        }
        else
        {
            <div class="col-md-10 col-sm-12">
                <p class="text-left">You must be logged in to post reply.</p>
            </div>
            <div class="col-md-2">
                <a href="/User/Login" class="btn btn-primary btn-block" role="button">Log in</a>
            </div>
        }
    </div>
</div>