@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">My Profile<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink("View Profile", "MyProfile", "User")</li>
            <li>@Html.ActionLink("Edit Profile", "MyProfile", "Edit")</li>
            <li>@Html.ActionLink("My Topics", "MyTopics", "Topic")</li>
            <li>@Html.ActionLink("My Replies", "MyReplies", "Topic")</li>
        </ul>
    </li>
}