<div class="list-group">
    <div class="list-group-item list-group-item-info">
        <strong>Error</strong>
    </div>
    <div class="list-group-item">
        <h1>404 - Page Not Found</h1>
    </div>
</div>