@using SharpForum.Models.ViewModels
@model IEnumerable<CategorySubCategoriesViewModel>

@{
    ViewBag.Title = "All Categories";
}

<!-- TODO -->

<div class="list-group">
    <a href="#" class="list-group-item active"><strong>Category Name</strong></a>
    <a href="#" class="list-group-item">
        <div class="row">
            <div class="col-sm-6">
                <strong>Subcategory Name 1</strong>
                <br>
                <small>Info about this subcategory. Details too.</small>
            </div>
            <div class="hidden-xs col-sm-6">
                <small>13 topics</small>
                <br>
                <small>22 replies</small>
            </div>
        </div>
    </a>
    <a href="#" class="list-group-item">
        <div class="row">
            <div class="col-sm-6">
                <strong>Subcategory Name 2</strong>
                <br>
                <small>Info about this subcategory. Details too.</small>
            </div>
            <div class="hidden-xs col-sm-6">
                <small>13 topics</small>
                <br>
                <small>22 replies</small>
            </div>
        </div>
    </a>
</div>
<div class="list-group">
    <a href="#" class="list-group-item active"><strong>Category Name</strong></a>
    <a href="#" class="list-group-item">
        <div class="row">
            <div class="col-sm-6">
                <strong>Subcategory Name 3</strong>
                <br>
                <small>Info about this subcategory. Details too.</small>
            </div>
            <div class="hidden-xs col-sm-6">
                <small>13 topics</small>
                <br>
                <small>22 replies</small>
            </div>
        </div>
    </a>
    <a href="#" class="list-group-item">
        <div class="row">
            <div class="col-sm-6">
                <strong>Subcategory Name 4</strong>
                <br>
                <small>Info about this subcategory. Details too.</small>
            </div>
            <div class="hidden-xs col-sm-6">
                <small>13 topics</small>
                <br>
                <small>22 replies</small>
            </div>
        </div>
    </a>
</div>