body {
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: url("../img/bg.png");
    background-repeat: repeat;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.gi-0p8x {
    font-size: 0.8em;
}

.gi-2x {
    font-size: 2em;
}