body {
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: url("/content/img/bg.png");
    background-repeat: repeat;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

/* Bootstrap overrides */
.btn-default {
    border-color: #dbdbdb;
    border-color: #ccc;
}

.btn-default:hover,
.btn-default:focus {
    background-color: #e0e0e0;
    background-position: 0 -15px;
}

#Priority {
    width: 100%;
    padding: 6px 12px;
    border: 1px solid #ced4da;
}