<!-- Edit Category Button -->
<a href="../CategoryAdministration/Edit/@Model"><i class="fas fa-pencil-alt fa-sm"></i></a>
<!-- Delete Category Button -->
<a href="../CategoryAdministration/Delete/@Model"><i class="fas fa-trash fa-sm"></i></a>